.alert {
    @include font-size(16px);

    line-height: 1.4;
    padding: 20px 15px;
    margin: 0 0 40px 0;
    border-width: 1px;
    border-style: solid;
    position: relative;

    &.success {
        color: $green;
        background-color: rgba($green, 0.1);
        border-color: rgba($green, 0.3);
    }

    &.error {
        color: $red;
        background-color: rgba($red, 0.1);
        border-color: rgba($red, 0.3);
    }

    a {
        text-decoration: underline;
    }
}

@import 'responsive/alert';
