.icon-menu:before {
    content: "\e900";
}

.icon-close:before {
    content: "\e901";
}

.icon-close-popup:before {
    content: "\e902";
}

.icon-settings:before {
    content: "\e903";
}

.icon-panel:before {
    content: "\e904";
}

.icon-discord:before {
    content: "\e905";
}
