// Colors

$white: #ffffff;
$black: #000000;

$page-bg: #fdfdfd;

$header-bg: #f2f2f2;
$brand-bg: #3d5a80;
$footer-bg: #e4e4e4;

$button-gray: #403d39;
$button-gray-hover: #252422;
$button-red: #bc4749;
$button-red-hover: #9c3537;
$button-blue: #457b9d;
$button-blue-hover: #366888;
$button-green: #6a994e;
$button-green-hover: #55813b;

$gray: #242424;
$gray-2: #999795;
$gray-3: #292929;

$orange: #ee6c4d;

$green: #4c7630;

$red: #ed2858;

$blue: #2e5ad6;
$blue-2: #293241;

$cookie-consent-text: $black;
$cookie-consent-text-bg: $white;
$cookie-consent-close: $button-red;
$cookie-consent-close-hover: $button-red-hover;
$cookie-consent-accept: $white;
$cookie-consent-accept-bg: $button-gray;
$cookie-consent-accept-bg-hover: $button-gray-hover;

// Fonts

$font-roboto: 'Roboto', sans-serif;
